body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 40px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

input, select {
    padding: 8px;
    margin: 5px;
}

button {
    background: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
}